{
  "extends": "./.config/.eslintrc",
  "overrides": [
    {
      "files": ["src/components/CodeEditor/declarations/**/*.ts"],
      "rules": {
        "deprecation/deprecation": "off" // Deprecations are expected in declarations
      }
    }
  ]
}
