name: Latest Grafana API compatibility check

on:
  pull_request:
    paths-ignore:
      - 'website/**'

jobs:
  compatibilitycheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # pnpm action uses the packageManager field in package.json to
      # understand which version to install.
      - uses: pnpm/action-setup@v2
      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile --prefer-offline
      - name: Build plugin
        run: pnpm run build
      - name: Find module.ts or module.tsx
        id: find-module-ts
        run: >-
          MODULETS="$(find ./src -type f \( -name "module.ts" -o -name
          "module.tsx" \))"

          echo "modulets=${MODULETS}" >> $GITHUB_OUTPUT
      - name: Compatibility check
        uses: grafana/plugin-actions/is-compatible@main
        with:
          module: ${{ steps.find-module-ts.outputs.modulets }}
          comment-pr: no
          fail-if-incompatible: yes
